In [10]:
import pandas as pd

In [11]:
df_customer = pd.read_excel("F:/INTERNSHIP/PYTHON/project 2/customer_data.xlsx")
df_performance = pd.read_excel("F:/INTERNSHIP/PYTHON/project 2/performance_data.xlsx")
df_additional = pd.read_excel("F:/INTERNSHIP/PYTHON/project 2/additional_data.xlsx")

## Checking and Assigning Data Types

In [12]:

print("Customer Data Types:\n", df_customer.dtypes)
print("\nPerformance Data Types:\n", df_performance.dtypes)
print("\nAdditional Data Types:\n", df_additional.dtypes)

Customer Data Types:
 CustomerID                   object
Gender                       object
Age                           int64
Income                      float64
City                         object
Region                       object
Frequency_of_Purchases        int64
Average_Purchase_Amount     float64
Customer_Lifespan_Months     object
Purchase_Channel             object
Date_of_Purchase             object
Churn_Status                 object
dtype: object

Performance Data Types:
 CustomerID         object
Recency             int64
Frequency_Score     int64
Monetary_Score      int64
dtype: object

Additional Data Types:
 CustomerID                   object
Gender                       object
Age                           int64
Income                        int64
City                         object
Region                       object
Frequency_of_Purchases        int64
Average_Purchase_Amount     float64
Customer_Lifespan_Months      int64
Purchase_Channel             object
Date_of_Purchase             object
Churn_Status                 object
CustomerID.1                 object
Recency                       int64
Frequency_Score               int64
Monetary_Score                int64
dtype: object

# Convert appropriate columns

In [13]:
df_customer['Date_of_Purchase'] = pd.to_datetime(df_customer['Date_of_Purchase'], errors='coerce')
df_customer['Customer_Lifespan_Months'] = pd.to_numeric(df_customer['Customer_Lifespan_Months'], errors='coerce').astype('Int64')

 ## Removing Inconsistent Values and Duplicates

In [14]:

df_customer = df_customer.drop_duplicates()
df_performance = df_performance.drop_duplicates()
df_additional = df_additional.drop_duplicates()

# Remove duplicate column if exists

In [15]:
df_additional = df_additional.loc[:, ~df_additional.columns.duplicated()]

## Sorting Data

In [16]:

df_customer = df_customer.sort_values(by='Age', ascending=True)
df_performance = df_performance.sort_values(by='Monetary_Score', ascending=False)
df_additional = df_additional.sort_values(by='CustomerID', ascending=True)

## Boolean Filtering

In [23]:

df_customer_filtered = df_customer[df_customer['Frequency_of_Purchases'] > 5]
df_performance_filtered = df_performance[df_performance['Recency'] < 30]
df_additional_filtered = df_additional[df_additional['Customer_Lifespan_Months'] > 12]
print("\nFiltered Customer Data:")
print(df_customer_filtered.head())

Filtered Customer Data:
   CustomerID  Gender  Age   Income         City   Region  \
61       C062  Female   17  61751.0     New York  Midwest
57       C058    Male   18  39995.0      Houston     West
50       C051  Female   19  15531.0      Houston  Midwest
31       C032  Female   21  55212.0  Los Angeles  Midwest
30       C031  Female   22  81993.0      Chicago  Midwest

    Frequency_of_Purchases  Average_Purchase_Amount  Customer_Lifespan_Months  \
61                       7                   78.158                         2
57                       7                   81.111                         2
50                      10                   97.782                         3
31                      12                  120.921                         3
30                      12                  121.402                         3

   Purchase_Channel Date_of_Purchase Churn_Status
61           Online       2023-09-09           No
57         In-store       2022-04-12           No
50         In-store       2022-09-24          Yes
31           Online       2023-08-05          Yes
30           Online       2022-08-16          Yes

## Querying Data

In [24]:

query_customer = df_customer.query("Region == 'North America'")
query_performance = df_performance.query("Frequency_Score > 3 and Monetary_Score > 500")
query_additional = df_additional.query("Customer_Lifespan_Months > 24")
print("\nQuery Result Performance:")
print(query_performance.head())

Query Result Performance:
Empty DataFrame
Columns: [CustomerID, Recency, Frequency_Score, Monetary_Score]
Index: []

## Using `is` and `in`

In [19]:

df_customer_valid = df_customer[df_customer['Income'].notna()]
df_performance_valid = df_performance[df_performance['Recency'].isnull()]
df_additional_valid = df_additional[df_additional['Region'].isin(['North America', 'Europe'])]

 ## Using `loc` and `iloc`

In [25]:
loc_result = df_customer.loc[df_customer['Age'] > 30, ['CustomerID', 'Age', 'Region']]
iloc_result = df_performance.iloc[:10, [0, 1, 2]] 
print("\nLOC Result Customer:")
print(loc_result.head())

LOC Result Customer:
   CustomerID  Age     Region
32       C033   31       West
53       C054   31  Northeast
64       C065   31       West
18       C019   32       West
54       C055   32       West

## Combining Conditions

In [26]:

df_customer_combined = df_customer[(df_customer['Age'] > 30) & (df_customer['Frequency_of_Purchases'] > 5)]
df_performance_combined = df_performance[(df_performance['Recency'] < 30) & (df_performance['Monetary_Score'] > 500)]
df_additional_combined = df_additional[(df_additional['Customer_Lifespan_Months'] > 24) & (df_additional['Income'].notna())]