In [2]:
import pandas as pd

file_path = r"F:\INTERNSHIP\Mysql\Bitcoin\bitcoin_price_Training - Training.csv"
df = pd.read_csv(file_path)

print("First 5 Rows of the Dataset:")
print(df.head())

print("\nInitial Data Information:")
print(df.info())

df.fillna(df.mean(numeric_only=True), inplace=True)

df.fillna(df.mode().iloc[0], inplace=True)

df.drop_duplicates(inplace=True)

if 'Date' in df.columns:
    df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

print("\nData Information After Cleaning:")
print(df.info())

cleaned_file_path = r"F:\INTERNSHIP\Mysql\Bitcoin\cleaned_bitcoin_price_Training.csv"
df.to_csv(cleaned_file_path, index=False)

print("\nData Preprocessing and Cleaning Completed Successfully!")

First 5 Rows of the Dataset:
           Date     Open     High      Low    Close         Volume  \
0  Jul 31, 2017  2763.24  2889.62  2720.61  2875.34    860,575,000
1  Jul 30, 2017  2724.39  2758.53  2644.85  2757.18    705,943,000
2  Jul 29, 2017  2807.02  2808.76  2692.80  2726.45    803,746,000
3  Jul 28, 2017  2679.73  2897.45  2679.73  2809.01  1,380,100,000
4  Jul 27, 2017  2538.71  2693.32  2529.34  2671.78    789,104,000

       Market Cap
0  45,535,800,000
1  44,890,700,000
2  46,246,700,000
3  44,144,400,000
4  41,816,500,000

Initial Data Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1556 entries, 0 to 1555
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1556 non-null   object
 1   Open        1556 non-null   float64
 2   High        1556 non-null   float64
 3   Low         1556 non-null   float64
 4   Close       1556 non-null   float64
 5   Volume      1556 non-null   object
 6   Market Cap  1556 non-null   object
dtypes: float64(4), object(3)
memory usage: 85.2+ KB
None

Data Information After Cleaning:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1556 entries, 0 to 1555
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1556 non-null   datetime64[ns]
 1   Open        1556 non-null   float64
 2   High        1556 non-null   float64
 3   Low         1556 non-null   float64
 4   Close       1556 non-null   float64
 5   Volume      1556 non-null   object
 6   Market Cap  1556 non-null   object
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 85.2+ KB
None

Data Preprocessing and Cleaning Completed Successfully!

# 1.Analyse change of price in bitcoin overtime

In [4]:
price_change = df[['date', 'open', 'close']]
price_change['price_diff'] = price_change['close'] - price_change['open']
price_change['price_change_%'] = (price_change['price_diff'] / price_change['open']) * 100
price_change.sort_values('date', inplace=True)
price_change.head()

C:\Users\hp\AppData\Local\Temp\ipykernel_16424\3435310100.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_change['price_diff'] = price_change['close'] - price_change['open']
C:\Users\hp\AppData\Local\Temp\ipykernel_16424\3435310100.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_change['price_change_%'] = (price_change['price_diff'] / price_change['open']) * 100
C:\Users\hp\AppData\Local\Temp\ipykernel_16424\3435310100.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_change.sort_values('date', inplace=True)

           date    open   close  price_diff  price_change_%
1555 2013-04-28  135.30  134.21       -1.09       -0.805617
1554 2013-04-29  134.44  144.54       10.10        7.512645
1553 2013-04-30  144.00  139.00       -5.00       -3.472222
1552 2013-05-01  139.00  116.99      -22.01      -15.834532
1551 2013-05-02  116.38  105.21      -11.17       -9.597869

# 2.Analysing bitcoin prices using candle stick chart

In [5]:
candlestick_data = df[['date', 'open', 'high', 'low', 'close']]
candlestick_data.sort_values('date', inplace=True)
candlestick_data.head()

C:\Users\hp\AppData\Local\Temp\ipykernel_16424\4175794832.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  candlestick_data.sort_values('date', inplace=True)

           date    open    high     low   close
1555 2013-04-28  135.30  135.98  132.10  134.21
1554 2013-04-29  134.44  147.49  134.00  144.54
1553 2013-04-30  144.00  146.93  134.05  139.00
1552 2013-05-01  139.00  139.89  107.72  116.99
1551 2013-05-02  116.38  125.60   92.28  105.21

# 3.Analysing closing price in depth

In [6]:
closing_stats = {
    'Min Closing Price': df['close'].min(),
    'Max Closing Price': df['close'].max(),
    'Mean Closing Price': df['close'].mean(),
    'Median Closing Price': df['close'].median(),
    'Standard Deviation': df['close'].std(),
    'Closing Price Range': df['close'].max() - df['close'].min()
}
closing_stats

{'Min Closing Price': np.float64(68.43),
 'Max Closing Price': np.float64(2958.11),
 'Mean Closing Price': np.float64(584.2393958868895),
 'Median Closing Price': np.float64(438.855),
 'Standard Deviation': np.float64(525.9044423181118),
 'Closing Price Range': np.float64(2889.6800000000003)}

# 4.Perform analysis on closing price on yearly quarterly and monthly basis

In [7]:
df['year'] = df['date'].dt.year
df['quarter'] = df['date'].dt.to_period('Q')
df['month'] = df['date'].dt.to_period('M')

yearly = df.groupby('year')['close'].mean().reset_index(name='avg_close_price')
quarterly = df.groupby('quarter')['close'].mean().reset_index(name='avg_close_price')
monthly = df.groupby('month')['close'].mean().reset_index(name='avg_close_price')

yearly.head(), quarterly.head(), monthly.head()

(   year  avg_close_price
 0  2013       257.474476
 1  2014       527.236658
 2  2015       272.453260
 3  2016       568.492131
 4  2017      1628.622123,
   quarter  avg_close_price
 0  2013Q2       115.162188
 1  2013Q3       111.291196
 2  2013Q4       502.657609
 3  2014Q1       700.586000
 4  2014Q2       520.929341,
      month  avg_close_price
 0  2013-04       139.250000
 1  2013-05       119.993226
 2  2013-06       107.761333
 3  2013-07        90.512258
 4  2013-08       113.905161)

# 5.Analysing daily change in price of stocks

In [8]:
df['daily_change'] = df['close'].diff()
df['daily_change_%'] = df['close'].pct_change() * 100
df[['date', 'close', 'daily_change', 'daily_change_%']].head()

        date    close  daily_change  daily_change_%
0 2017-07-31  2875.34           NaN             NaN
1 2017-07-30  2757.18       -118.16       -4.109427
2 2017-07-29  2726.45        -30.73       -1.114545
3 2017-07-28  2809.01         82.56        3.028113
4 2017-07-27  2671.78       -137.23       -4.885351